{% extends "templates.html" %} {%block title%}User Profile{% endblock %} {%block
body%}
<div class="flex flex-col items-center justify-around w-full h-full">
  <div class="user-data">
    <div class="profile-image">
      <img src="https://i.imgflip.com/6ovcib.png?a472368" alt="profile" />
    </div>
    <div class="some-user-data">
      <div id="username" class="username">udin</div>
      <div id="email" class="email">hehe</div>
    </div>
  </div>
  <div class="table-container" id="table">
    <div id="clear" class="clear-button">Clear Histories</div>
    <table class="table-auto self-center justify-self-center">
      <thead>
        <tr>
          <th>Cipher</th>
          <th>Inputed Text</th>
          <th>Result</th>
          <th>Methods</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody class="history-container" id="data-here"></tbody>
    </table>
  </div>
</div>
{% endblock %}
<!-- JQUERY PACKAGES -->
{% block src %}
<script>
  $(document).ready(() => {
    let margin = (screen.width - 80) / 2;
    $("#table").addClass(`mx-[${margin}px]`);

    $.ajax({
      url: "/api/user/profile",
      type: "POST",
      contentType: "application/json",
      success: (res) => {
        console.log(res.data.email);
        $("#username").text(res.data.username);
        $("#email").text(res.data.email);
      },
    });

    $.ajax({
      url: `/api/history`,
      type: "GET",
      contentType: "application/json",

      success: (res) => {
        console.log(res);
        res.data.map((data) => {
          $("#data-here").append(
            `<tr class="wrapper">
                <td class="data-display" id="cipher">${data.cipher}</td>
                <td class="data-display" id="plain">${data.plaintext}</td>
                <td class="data-display" id="result">${data.result}</td>
                <td class="data-display" id="methods">${data.methods}</td>
                <td class="data-display" id="datetime">${data.time}</td>
            </tr>`
          );
        });
      },
      error: (err) => {
        console.log(err);
      },
    });

    const clearData = () => {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Delete",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/api/history/clear",
            type: "POST",
            contentType: "application/json",
            success: (res) => {
              console.log(res);
              Swal.fire({
                title: "Deleted!",
                text: "Your history data has been deleted.",
                icon: "success",
              }).then(() => {
                return location.reload();
              });
            },
            error: (err) => {
              console.log(err);
            },
          });
        }
      });
    };
    $("#clear").on("click", () => {
      clearData();
    });
  });
</script>

{% endblock %}
