<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="icon"
      href="../static/source/img/icon.svg"
      type="image/icon type"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="../static/source/dist/index.css" />
  </head>
  <body class="flex sm:flex-col">
    <div class="sidebar" id="sidebar">
      <div class="navigation">
        <div id="home-nav" class="sidebar-items">A</div>
        <div id="caesar-nav" class="sidebar-items">C</div>
        <div id="vigenere-nav" class="sidebar-items">V</div>
      </div>
      <div class="profiles">
        <div id="manages" class="sidebar-items profile">
          <i class="fa-solid fa-user"></i>
        </div>
        <div id="auth" class="sidebar-items auth">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
      </div>
    </div>
    {%block body%} {% endblock %}
    <script src="../static/source/js/jquery-3.7.1.min.js"></script>
    <script
      src="https://kit.fontawesome.com/fc32737a7d.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      function get_cookie(name) {
        return document.cookie.split(";").some((c) => {
          return c.trim().startsWith(name + "=");
        });
      }
      function delete_cookie(name, path, domain) {
        if (get_cookie(name)) {
          domain_full = window.location.href.split("/");

          document.cookie =
            name +
            "=" +
            (path ? ";path=" + path : "") +
            (domain
              ? ";domain=" +
                domain_full[2].replace(":", "").replace(/^\d+$/, "")
              : "") +
            ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
        }
      }
      if (document.cookie.includes("access_token_cookie")) {
        $("#manages").removeClass("hidden");
        $("#auth").removeClass("hidden");
        $("#auth").on("click", () => {
          $.ajax({
            url: "/api/auth/logout",
            type: "POST",
            success: (res) => {
              delete_cookie("access_token_cookie", "/");
              return Swal.fire({
                icon: "success",
                title: "SIGN OUT SUCCESS",
                text: "See You Next Time !",
              }).then(() => {
                window.location.href = "/";
              });
            },
            error: (res) => {
              return res;
            },
          });
        });
      } else {
        $("#auth").on("click", () => {
          window.location.href = "/auth/login";
        });
        $("#manages").addClass("hidden");
      }
      $(document).ready(() => {
        let currentUrl = window.location.href;
        let current_path = currentUrl.split("/")[3];
        if (current_path == "") {
          $("#home-nav").addClass("active");
        } else if (current_path == "page?cipher=caesar") {
          $("#caesar-nav").addClass("active");
        } else if (current_path == "page?cipher=vigenere") {
          $("#vigenere-nav").addClass("active");
        } else if (current_path == "profile") {
          $("#manages").addClass("active");
        } else if (current_path == "auth/login") {
          $("#auth").addClass("active");
        }

        //ROUTING BUTTON

        $("#home-nav").on("click", () => {
          window.location.href = "/";
        });
        $("#caesar-nav").on("click", () => {
          window.location.href = `/page?cipher=caesar`;
        });
        $("#vigenere-nav").on("click", () => {
          window.location.href = `/page?cipher=vigenere`;
        });
        $("#manages").on("click", () => {
          window.location.href = `/profile`;
        });
      });
    </script>
    {%block src%} {% endblock %}
  </body>
</html>
